html, body {
    box-sizing: border-box;
    background-color: #fdfcf7;
    height: 100%;
    padding: 10px;
    margin: 0px;
    font: 1em Helvetica;
  }
  .container{
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    " m m m s s s s s s s s s "
    " m m m s s s s s s s s s "
}

.main{
    grid-area: m;
    background-color: rgb(20, 3, 65);
    color: #fdfcf7;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
}

.profile{
    grid-area: s;
    background-color: rgba(222, 228, 228, 0.514);
}

.user-photo{
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    margin: auto;
  
}
div.user-photo>img {
    max-height: 100%;
    max-width: 100%;
 }

 div.main p{
     display: grid;
     justify-content: center;
     margin-top: 15%;
 }

 .pages> a{
  display: grid;
  flex-direction: column; 
  padding-left: 15%;  
    padding:10px 20px;
    text-decoration:none;
    color: #E6E7ED;
 }

 .photo{
    display: block;
    width: 80px;
    height: 80px;
    background: #E6E7ED;
    text-align: center;
    align-content: center;
    align-items: center;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    margin-top: 2%;
    margin-left:2em;   
 }

 div.photo>img {
    max-height: 100%;
    max-width: 100%;
 }

 input[type=text],input[type=password],input[type=number]{
    
    width: 40%;
    height: 25px;
    padding: 3px;
    margin-bottom: 15px;
    margin-top: 5px;
    margin-right: 2em;
    margin-left: 2em;
    background-color: rgb(229, 232, 235);
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
   }

   .edit{
    text-align: center;
    width:5%;
    margin-left:2em; 
    height: 30px;
    color: white;
    background-color: rgb(41, 5, 38);
    border: 1px solid rgb(218, 205, 205);
    border-radius: 0.3em;
   }

   .update{
    text-align: center;
    width:10%;
    height: 30px;
    color: rgb(179, 175, 175);
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(218, 205, 205);
    border-radius: 0.3em;
   }

   div.form p{
       margin-left:2em;
   }

   h3{
    margin-left:2em;
   }

   div.pages a:hover{
    color: black; 
    background: rgb(245, 243, 240);  
    width: 100%;
  
   }

   .spacer{
       margin-top:25%;
   }